API/src/main/resources/wsdl/servicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                  xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
                  xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" 
                  xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" 
                  xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" 
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" 
                  xmlns:xop="http://www.w3.org/2004/08/xop/include" 
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
                  xmlns:tns="soap.backend" 
                  xmlns:s0="models" 
                  targetNamespace="soap.backend" 
                  name="Application">
  <wsdl:types>
    <xs:schema targetNamespace="soap.backend" elementFormDefault="qualified">
      <xs:import namespace="models"/>
      <xs:complexType name="stringArray">
        <xs:sequence>
          <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="list_presidents">
        <xs:sequence>
          <xs:element name="org_ids" type="tns:stringArray" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="list_associations">
        <xs:sequence>
          <xs:element name="org_ids" type="tns:stringArray" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="list_associationsResponse">
        <xs:sequence>
          <xs:element name="list_associationsResult" type="s0:OrganizationTypeArray" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="list_presidentsResponse">
        <xs:sequence>
          <xs:element name="list_presidentsResult" type="s0:PresidentTypeArray" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="stringArray" type="tns:stringArray"/>
      <xs:element name="list_presidents" type="tns:list_presidents"/>
      <xs:element name="list_associations" type="tns:list_associations"/>
      <xs:element name="list_associationsResponse" type="tns:list_associationsResponse"/>
      <xs:element name="list_presidentsResponse" type="tns:list_presidentsResponse"/>
    </xs:schema>
    <xs:schema targetNamespace="models" elementFormDefault="qualified">
      <xs:complexType name="OrganizationType">
        <xs:sequence>
          <xs:element name="id" type="xs:integer" minOccurs="0" nillable="true"/>
          <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="address" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="phone" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PresidentType">
        <xs:sequence>
          <xs:element name="id" type="xs:integer" minOccurs="0" nillable="true"/>
          <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="address" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="phone" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="organization_id" type="xs:integer" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrganizationTypeArray">
        <xs:sequence>
          <xs:element name="OrganizationType" type="s0:OrganizationType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PresidentTypeArray">
        <xs:sequence>
          <xs:element name="PresidentType" type="s0:PresidentType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="OrganizationType" type="s0:OrganizationType"/>
      <xs:element name="PresidentType" type="s0:PresidentType"/>
      <xs:element name="OrganizationTypeArray" type="s0:OrganizationTypeArray"/>
      <xs:element name="PresidentTypeArray" type="s0:PresidentTypeArray"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="list_associations">
    <wsdl:part name="list_associations" element="tns:list_associations"/>
  </wsdl:message>
  <wsdl:message name="list_associationsResponse">
    <wsdl:part name="list_associationsResponse" element="tns:list_associationsResponse"/>
  </wsdl:message>
  <wsdl:message name="list_presidents">
    <wsdl:part name="list_presidents" element="tns:list_presidents"/>
  </wsdl:message>
  <wsdl:message name="list_presidentsResponse">
    <wsdl:part name="list_presidentsResponse" element="tns:list_presidentsResponse"/>
  </wsdl:message>
  <wsdl:service name="SoapApi">
    <wsdl:port name="Application" binding="tns:Application">
      <wsdlsoap11:address location="https://soap-app-latest.onrender.com/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:portType name="Application">
    <wsdl:operation name="list_associations" parameterOrder="list_associations">
      <wsdl:input name="list_associations" message="tns:list_associations"/>
      <wsdl:output name="list_associationsResponse" message="tns:list_associationsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="list_presidents" parameterOrder="list_presidents">
      <wsdl:input name="list_presidents" message="tns:list_presidents"/>
      <wsdl:output name="list_presidentsResponse" message="tns:list_presidentsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Application" type="tns:Application">
    <wsdlsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="list_associations">
      <wsdlsoap11:operation soapAction="list_associations" style="document"/>
      <wsdl:input name="list_associations">
        <wsdlsoap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="list_associationsResponse">
        <wsdlsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list_presidents">
      <wsdlsoap11:operation soapAction="list_presidents" style="document"/>
      <wsdl:input name="list_presidents">
        <wsdlsoap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="list_presidentsResponse">
        <wsdlsoap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>